<!DOCTYPE html>
<html lang="ko" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Book Market</title>
</head>
<body>
<main>
    <h1>Campus Book Market</h1>
    <p th:text="#{home.description}">대학생 전공책과 학습용품을 거래하는 공간입니다.</p>
    <a href="/posts" th:text="#{link.home.posts}">게시글 목록으로 이동</a>

    <a href="/members/new"
       th:text="#{link.home.join}">
        회원가입
    </a>

</main>
</body>
</html>
